:root {
    --page-width: 964px;
    --primary-color: #3f4d67;
    --secondary-color: #59719d;
    --page-bg: #f4f7fa;
    --text-color: #444;
    --font-family: Arial, sans-serif;
    --unit: 16px;
    --font-unit: 16px;
    --border-radius: 5px;
    --border-color: #dde5ed;

    --header-bg: #3f4d67;
    --header-color: #fff;

    --post-item-bg: #fff;
}
